<div class="container">
  <div class="row">
    <div class="col-12 display-photos"><%= cl_image_tag @castle.photo%></div>
    <div class="col-6"><h1><%= @castle.name %></h1>
      <p><i><%= @castle.description %></i></p>
      <i class="fas fa-toolbox icon"></i> <%= @castle.equipment %></p><p><i class="fas fa-car icon"></i> <%= @castle.vehicle %></p>
      <p><i class="fas fa-frog icon"></i> <%= @castle.prince %></p>
    </div>
    <div class="col-2">
      <%= cl_image_tag @castle.user.avatar, crop: :fill, class: 'avatar-large' %>
    </div>
    <div class="col-4">
      <h3>Book now!</h3>
      <%= simple_form_for @booking do |f| %>
      <%= f.error_notification %>
      <%= f.input :check_in_date, as: :date %>
      <%= f.input :chech_out_date, as: :date %>
      <%= f.input :special_request, as: :text, placeholder: "Champagne fountains, spiked punch, acid apple" %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
